/*
FONT-FAMILIES:

font-family: 'Abril Fatface', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

::selection {
  background: rgba(255, 107, 8, 0.6);
  color: rgba(109, 122, 141, 0.9);
}
::-moz-selection {
  background: rgba(255, 107, 8, 0.6);
  color: rgba(109, 122, 141, 0.9);
}
::-webkit-selection {
  background: rgba(255, 107, 8, 0.6);
  color: rgba(109, 122, 141, 0.9);
}
